body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
h1{
    /* width: 100%; */
    margin: 0 auto;
    background-color: black;
    color: whitesmoke;
    text-align: center;
    padding: 15px;

}
.countries{
    max-width: 1240px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 0 auto;

}
.country-div{
    background: #88cdea;
    border: 1px solid burlywood;
    padding: 15px;
}
img{
    width: 70%;
    height: 100px;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: "Nunito",sans-serif;
}
.input{
text-align: center;
}

input[type="text"]{
    height:50px ;
    width:600px ;
    background-color:white ;
    font-family: "Nunito",sans-serif;
    font-size:20px ;
    font-weight:bold ;
    border: none;
    border-radius: 2px;

}
.display{
    text-align: center;
}










